In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
def ler_csv(file, separador, encode, zebrado=False):
    return pd.read_csv(file, sep=separador, encoding=encode, squeeze = zebrado)

df_TS_ESC = ler_csv("./base/TS_ESCOLA.csv", ',', 'iso-8859-1', True)

In [3]:
df_TS_ESC.head()

,ID_PROVA_BRASIL,ID_UF,ID_MUNICIPIO,ID_ESCOLA,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,PC_FORMACAO_DOCENTE_INICIAL,PC_FORMACAO_DOCENTE_FINAL,PC_FORMACAO_DOCENTE_MEDIO,NIVEL_SOCIO_ECONOMICO,...,TX_RESP_Q065,TX_RESP_Q066,TX_RESP_Q067,TX_RESP_Q068,TX_RESP_Q069,TX_RESP_Q070,TX_RESP_Q071,TX_RESP_Q072,TX_RESP_Q073,TX_RESP_Q074
0,2017,11,1100015,11024666,3,2,83.3,55.6,NaN,Grupo 2,...,A,C,B,A,A,A,A,A,B,A
1,2017,11,1100015,11024682,2,1,94.2,64.1,NaN,Grupo 3,...,A,C,B,A,A,A,A,A,A,A
2,2017,11,1100015,11024828,3,1,100.0,55.6,NaN,Grupo 3,...,A,B,B,A,B,B,A,A,A,B
3,2017,11,1100015,11024968,2,1,NaN,48.9,77.1,Grupo 3,...,B,C,C,A,B,B,A,A,A,B
4,2017,11,1100015,11025077,3,1,100.0,55.6,NaN,NaN,...,B,B,B,A,A,B,A,A,A,C

In [8]:
df1 = df_TS_ESC.groupby('ID_DEPENDENCIA_ADM')

In [19]:
df1['ID_DEPENDENCIA_ADM']